body{
    background-color: gray;
    color: white;
}
input[type=button]{
    border-color: aqua;
    border: 5px solid aqua;
    color: white;
    background-color: black;
    border-radius: 20px;
}
textarea{
    border-color: aqua;
    border: 9px solid aqua;
    border-radius: 20px;
    background-color: black;
}