
body{
    background-color: rgb(255, 255, 255);
}    

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(90, 215, 224);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
}

#personForm {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}


h1{
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #39073d; 
    text-transform: uppercase;
    letter-spacing: 2px;
}

p{
    padding-top: 10px;
    padding-bottom: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.texto{
    text-align: center;
}


.display-details {
    margin-top: 20px;
    border-style: solid;
}

.p2{
    text-align: center;
}

.footer {
    margin-top: 10%;
    background-color: rgb(90, 215, 224);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.nav1{
    background-color: rgb(90, 215, 224);
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #434649; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    text-align: center; 
    text-align: center;
}










